
*.cs linguist-language=C#


*.json linguist-vendored
*.xml linguist-vendored
*.ini linguist-vendored
*.txt linguist-vendored
*.sln linguist-vendored

bin/** linguist-generated
obj/** linguist-generated

* linguist-detectable=false
*.cs linguist-detectable=true

